name: Super Linter

on:
  push:
  pull_request:

permissions:
  contents: read
  packages: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: pip install -r Docker/requirements.txt
      - name: Run Super Linter
        uses: super-linter/super-linter@v6
        env:
          VALIDATE_PYTHON_ISORT: false
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SQLFLUFF_DIALECT: mysql
          FILTER_REGEX_EXCLUDE: web-dashboard/.*
